NEXT_PUBLIC_RESTAURANT_SERVICE_BASE_URL=https://restaurant-prod.mangaale.com
NEXT_PUBLIC_RESTAURANT_SERVICE_WS_BASE_URL=https://restaurant-prod.mangaale.com
NEXT_PUBLIC_USER_SERVICE_BASE_URL=https://user-prod.mangaale.com
NEXT_PUBLIC_APP_URL=https://food.mangaale.com
